.input {
  width: 180px;
  height: 30px;
  border: 1px solid rgb(163, 162, 162);
  padding: 3px 10px;
  border-radius: 4px;
  outline: none;
  background: transparent;
  color: #fff;
  &:focus {
    border-color:#00ced5;
  }
}
.main {
  position: relative;
}
.dayPicker {
  position: absolute;
  left: 0;
  top: 50px;
  border: 1px solid #1a5576;
  box-shadow: 0 0 8px hsla(0,0%,100%,.2);
}
:global(.DayPicker-Day--disabled) {
  color: rgb(218, 213, 213);
  cursor: not-allowed;
  background-color: transparent;
}
:global(.DayPicker-Day--selected) {
  background-color: #00ced5 !important;
}
:global(.DayPicker-Day) {
  border: 1px solid #1a5576;
}
