.content {
  display: flex;
  align-items: center;
}
.main {
  display: flex;
  width: 300px;
  justify-content: space-around;
}
.tab {
  display: block;
  width: 50px;
  text-align: center;
  font-size: 14px;
  padding: 8px 0;
  cursor: pointer;
}

.active {
  background: #00d2d9;
  border-radius: 4px;
}
.dayPicker {
  top: 55px;
  right: 300px;
  display: flex;
  align-items: center;
}
.split {
  margin: 0 10px;
}